extends layout

block content
	h1 Login
	p Please Login below
	form(method="post", action="/users/login", entype="multipart/form-data" )
		div(class="form-group")
			label Username:
			input(class="form-control", name="username", type="text", placeholder="Enter Username")
		div(class="form-group")
			label Password:
			input(class="form-control", name="password", type="password", placeholder="Enter Password")
		input(type="submit" class="btn btn-info", name="submit", value="Login")